

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

    body > main {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    body > footer {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
    }

.content {
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo {
    width: 120px;
    margin-right: 30px;
}

.logo2-body {
    position: relative;
}

.logo2 {
    width: 30px;
    position: absolute;
    right: 25px;
    bottom: 42px;
}

.blank {
    width: 550px;
    margin-top: 40px;
}

.group-action {
    margin-left: 20px;
}

.footer {
    margin-top: 70px;
    line-height: 3
}

    .footer .container {
        background-color: #ecf0f1;
        height: 50px;
    }


.navbar {
    font-size: 17px;
    position: relative;
}

    .navbar .nav-link {
        margin-right: 15px;
    }

    .navbar .navbar-nav {
        font-weight: 500;
    }

    .navbar .nav-item a {
        color: black !important;
        padding-bottom: 2px;
        position: relative;
        border-bottom: 2px solid #ecf0f1;
    }

    .navbar .nav-item.selected a, .navbar .nav-item:hover a {
        border-bottom: 2px solid gray;
    }

.card-body.logo2-body {
    margin-bottom: -20px;
}

.title-small {
    font-size: 28px;
}

.box-features {
    padding-left: 20px;
}
